<html>
<head>
   <title>Nueva clave de acceso de {{ usuario.nombre }} {{usuario.apellido}}</title>
</head>
<body>
    <p>{{ usuario.nombre }} {{usuario.apellido}}</p>
    <p>Usando su dni {{ usuario.dni }} dentro del sistema de recupero de contraseña,</p>
    <p>se ha generado una nueva contraseña de acceso temporal para los sitemas de la facultad</p>
    <p>Contraseña: {{ clave }}</p>
    <p>
        Recuerde que estos datos son personales y ningún área de la Facultad, ni de la Universidad podrá requerir estos datos.
        NO responda correos que requieran su clave de acceso.
    </p>
    <p>No responda este correo ya que es un correo automático</p>
</body>
</html>