<html>
<head>
   <title>Código de reseteo de clave de {{ usuario.nombre }} {{usuario.apellido}}</title>
</head>
<body>
    <p>{{ usuario.nombre }} {{usuario.apellido}}</p>
    <p>Usando el dni {{ usuario.dni }} dentro del sistema de recupero de contraseña,</p>
    <p>se ha generado un código que permite resetear su clave</p>
    <p>Código: {{ codigo }}</p>
    <p>No responda este correo ya que es un correo automático</p>
</body>
</html>